.light {
    --theme-color: #A80000;
    --theme-page-background: hsl(236, 33%, 92%);
    --theme-text: hsl(236, 33%, 92%);
    --theme-page-text: #111;
    --theme-new-bg: hsl(236, 9%, 61%);
    --theme-background-image: url('../images/bg-mobile-light.jpg');
    --theme-background-desktop-image: url('../images/bg-desktop-light.jpg');
    --theme-content-background: hsl(0, 0%, 98%);
    --theme-card-background: hsl(0, 0%, 98%);
    --color-one:hsl(192, 100%, 67%);
    --color-two:hsl(220, 98%, 61%);
    --footer-menu-text:hsl(220, 98%, 61%);
    --Light-Gray: hsl(233, 11%, 84%);
    --very-light-gray: hsl(236, 9%, 61%);
    --card-border:hsl(236, 9%, 61%);
    --completed-task-text:hsl(233, 11%, 84%);
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: hsl(0, 0%, 98%);
    --theme-new-bg: hsl(233, 14%, 35%);
    --theme-background-image: url('../images/bg-mobile-dark.jpg');
    --theme-background-desktop-image: url('../images/bg-desktop-dark.jpg');
    --theme-content-background: hsl(237, 14%, 26%);
    --theme-card-background: hsl(237, 14%, 26%);
    --color-one:var(--color-one);
    --color-two:var(--color-two);
    --footer-menu-text:hsl(220, 98%, 61%);
    --card-border:hsl(233, 11%, 84%);
    --completed-task-text:hsla(0, 0%, 93%, 0.884);
}