*{
  box-sizing: border-box;
  padding: none;
  margin: none;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  margin: 0;
  padding: 0;
  background-image: var(--theme-background-desktop-image);
  background-repeat:no-repeat;
}

.container{
  // width: 100vw;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  width: 500px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.row{
  width: 100%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--theme-text);
  &-title{
    font-weight: 600;
    font-stretch: expanded;
    letter-spacing: 10px;
    font-size: 30px;
  }
}

.input, .card{
  height: 7vh;
  background-color: var(--theme-card-background);
  // color: var(--theme-card-color);
}

.input{
  width: 100%;
  border: none;  
  border-radius: 4px;
  color: var(--theme-card-color);
  font-size: 14px;
}

.form-group{
  display: flex;
  align-items: center;
  background-color: var(--theme-card-background);
  margin: 10px 0;
  border-radius: 4px;
  height: 7vh;
}

.completed{
  text-decoration: line-through;
  color: var(--completed-task-text);
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--card-border);
  color: var(--theme-page-text);

  &-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
  }
}

.title{
  width: 80%;
}

input[type=checkbox]{
  padding: 0 10px;
}

input:focus{
  outline: none;
}

.foot{
  display: flex;
  justify-content: center;
  color: var(--theme-new-bg-light);
  font-size: 12px;
  font-weight: 400;
  margin-top: 14px;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-card-background);
  padding: 0 10px;
  color: var(--footer-menu-text);
  font-size: 14px;
}

.mid-item{
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: var(--footer-menu-text);
  .item:hover{
    color: var(--footer-menu-text-hover);
  }
  .item:active{
    color: var(--footer-menu-text-active);
  }
}

.active{
  background-color: aqua;
}

.card:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.radio{
  color: var(--theme-radio-button);
}

.circle{
  color: var(--card-border);
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .header-title{
    font-size: 20px;
  }

  .container{
    width: 90vw;
    height: 100%;
  }

  .title{
    font-size: 0.5rem;
  }

  .input{
    font-size: 0.6rem
  }
  .footer-menu{
    font-size: 0.7rem;
  }

  .App{
    background-image: var(--theme-background-mobile-image);
  }

  .footer-menu{
    margin-top: 3vh;
    border-radius: 4px;
    height: 7vh;
    align-items: center;
  }

  .card-container{
    border-radius: 4px;
  }

  .card{
    padding-right: 10px;

    .title{
      padding-left: 5px;
    }

    svg{
      height: 20%;
      font-size: 17px;
    }
  }

  .card:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.7rem;
    padding: 0 5px 0 10px;
    border-bottom: none;
    color: var(--theme-new-bg-light);
  }

  .card:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .item-left, .item-right{
    display: none;
  }
  .mid-item{
    width: 100%;
    justify-content: center;

    .item{
      margin: 0 5px;

    }
   
  }

  .close{
    height: 20%;
    opacity: .5;
  }

  .circle{
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 376px){
  .close{
    display: none;
  }

  .card:last-child{
    display: none;
  }
  
  .item-left, .item-right{
    color: var(--theme-new-bg-light);
  }
  .item-right:hover{
    color: var(--footer-menu-text-hover);
  }
  .footer-menu{
    align-items: center;
    height: 7vh;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .title{
    width: 90%;
  }
}

@media screen and (min-width: 1440px){
  .App{
    background-size: 100% auto;
  }
}